<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>华安保险信用风险管理系统</title>
<link rel="stylesheet" href="plugins/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="plugins/bootstrap-4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="styles/bootstrap-table.min.css">
<!-- <link rel="stylesheet" href="styles/AdminLTE.min.css"> -->
<link rel="stylesheet" href="styles/homePage1.css">
</head>
<body>
	<div class="cm_wrapper">
		<section class="cm_header">
			<div class="cm_img">
			</div>
			<div class="cm_info">
			</div>
		</section>
		
		<section class="cm_asider">
			<ul class="cm_sidebar-menu">
				<li class="nav-item">
					<a href="#"><i class="fa fa-dashboard"></i><span>业务申请1</span>
						<span class="pull-right-container">
			              <i class="fa fa-angle-left pull-right"></i>
			            </span>
		            </a>
					<ul class="cm-treeview-menu">
						<li>
							<a href="#"><i class="fa fa-files-o"></i> <span>传统信贷</span></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-circle-o"></i> <span>传统信贷</span></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-id-card-o"></i> <span>传统信贷</span></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-address-book-o"></i> <span>传统信贷</span></a>
						</li>
					</ul>
				</li>
				<li class="nav-item nav-active">
					<a href="#"><i class="fa fa-dashboard"></i><span>业务申请1</span>
						<span class="pull-right-container">
			              <i class="fa fa-angle-left pull-right"></i>
			            </span>
		            </a>
					<ul class="cm-treeview-menu">
						<li>
							<a href="#"><i class="fa fa-files-o"></i> <span>传统信贷</span></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-circle-o"></i> <span>传统信贷</span></a>
						</li>
						<li class="cm-this">
							<a href="#"><i class="fa fa-id-card-o"></i> <span>传统信贷</span></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-address-book-o"></i> <span>传统信贷</span></a>
						</li>
					</ul>
				</li>
			</ul>
		</section>
		<section class="cm_content">
			<!-- 面包屑&页签 -->
			<section class="content_header">
				<ol class="breadcrumb">
			        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
			        <li><a href="#">UI</a></li>
			        <li class="active">滑动</li>
			    </ol>
			    <!-- <ul class="content_page">
			    	<li>申请录入</li>
			    	<li>业务分配</li> 
			    	<li>现场调查</li>
			    </ul> -->
			</section>
			<section class="main_content">
				<div class="qurey_area content_common ">
					<form class="form-inline">
					  <div class="form-group col-md-4 flex_height">
					    <label class="col-md-4">业务流水号</label>
					    <input type="text" class="form-control col-md-8 common_input">
					  </div>
					  <div class="form-group col-md-4 flex_height">
					    <label class="col-md-4">客户编号</label>
					    <input type="text" class="form-control col-md-8 common_input">
					  </div>
					  <div class="form-group col-md-4 flex_height">
					    <label class="col-md-4">客户名称</label>
					    <input type="text" class="form-control col-md-8 common_input">
					  </div>
					  <div class="form-group col-md-4 flex_height">
					    <label class="col-md-4">业务归属机构</label>
					    <div class="col-md-8 input_btn">
						    <div class="input-group">
						      <input type="text" class="form-control common_input" readonly>
						      <span class="input-group-btn">
						        <button class="btn btn-default common_input" type="button">请选择</button>
						      </span>
						    </div>
						</div>
					    <!-- <div class="input-group">
						    <input type="text" class="form-control col-md-8 common_input">
						    <span class="input-group-btn">
						        <button class="btn btn-default" type="button">请选择</button>
						    </span>
					    </div> -->
					  </div>
					  <div class="form-group col-md-4 flex_height">
					    <label class="col-md-4">产品名称</label>
					    <input type="text" class="form-control col-md-8 common_input">
					  </div>
					  <!-- <div class="form-group col-md-4 flex_height">
					    <label for="exampleInputEmail2" class="col-md-4">产品名称</label>
					    <input type="email" class="form-control col-md-8 common_input">
					  </div>
					  <div class="form-group col-md-4 flex_height">
					    <label for="exampleInputEmail2" class="col-md-4">产品名称</label>
					    <input type="email" class="form-control col-md-8 common_input">
					  </div>
					  <div class="form-group col-md-4 flex_height">
					    <label for="exampleInputEmail2" class="col-md-4">产品名称</label>
					    <input type="email" class="form-control col-md-8 common_input">
					  </div> -->
					</form>
				  	<div class="btn-group btn-group-sm btn-query">
				  		<button type="button" class="btn btn-primary border_btn">查询</button>
				  		<button type="button" class="btn btn-primary">重置</button>
					</div>
				</div>
				<div class="table_area content_common">
					<div class="table_content">
						<table id="bootStrap_Table" class="table table-condensed table-hover table-bordered">
					      <!-- <thead>
					        <tr>
					          <th>#</th>
					          <th>First Name</th>
					          <th>Last Name</th>
					          <th>Username</th>
					        </tr>
					      </thead>
					      <tbody>
					        <tr>
					          <th scope="row">1</th>
					          <td>Mark</td>
					          <td>Otto</td>
					          <td>@mdo</td>
					        </tr>
					        <tr>
					          <th scope="row">2</th>
					          <td>Jacob</td>
					          <td>Thornton</td>
					          <td>@fat</td>
					        </tr>
					        <tr>
					          <th scope="row">3</th>
					          <td colspan="2">Larry the Bird</td>
					          <td>@twitter</td>
					        </tr>
					        <tr>
					          <th scope="row">1</th>
					          <td>Mark</td>
					          <td>Otto</td>
					          <td>@mdo</td>
					        </tr>
					        <tr>
					          <th scope="row">2</th>
					          <td>Jacob</td>
					          <td>Thornton</td>
					          <td>@fat</td>
					        </tr>
					        <tr>
					          <th scope="row">3</th>
					          <td colspan="2">Larry the Bird</td>
					          <td>@twitter</td>
					        </tr>
					        
					      </tbody> -->
					    </table>
					</div>
						
				</div>
			</section>
		</section>
		<section class="cm_footer"></section>
	</div>
	

</body>
<script type="text/javascript" src="scripts/jquery-3.3.1.min.js" defer></script>
<script type="text/javascript" src="plugins/bootstrap-4.0.0/js/bootstrap.min.js" defer></script>
<script type="text/javascript" src="scripts/bootstrap-table.min.js" defer></script>
<script type="text/javascript" src="scripts/bootstrap-table-zh-CN.js" defer></script>
<script type="module" defer>
    import ('./js/homePage/homePage1.js').then(res =>{
       	res.init($('.cm_wrapper')); 
    });
</script>
</html>


